#gotskills{

   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10px;

}
#hello {

   font-size: 20px;
   text-shadow: 1px 1px 1px black;

}
#aboutHeading{

    color: black;
}

#List li{

   font-size: 80%;
}
