.tab5nav{
  height: 400px;

}
.tab5nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.tab5nav li {
  float: left;
}

 .tab5nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

 .tab5nav li a img {

  height:160px;
   width:160px;
}

.tab5nav li a:hover {
  background-color: gray;
}

.ui-tabs .ui-tabs-panel {

  padding: 0px;
  margin:  0px;
}




/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 0px;
  height: 300px; /* Should be removed. Only for demonstration */
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}
.row{
  padding: 0pc;
}
.column ul li {
  position: relative;
  bottom: 40px;
  font-size: 15px;
}
.column ul h4 {
  position: relative;
  bottom: 30px;
  font-size: 15px;
}
.footerlead {
  position: relative;
  bottom: 30px;
  padding-bottom: none;
  font-size: 25px;
  margin: 1px !important;
}
.footerleada {
  position: relative;
  bottom: 30px;
  padding-bottom: none;
  font-size: 20px;

}
.Copyright {
  position: relative;
  bottom: 30px;
  padding-bottom: none;
  font-size: 20px;

}
.footer2{
  position: relative;
  bottom: 55px;
}
.contact{
  padding: 20px;
}
@media only screen and (max-width: 600px) {

  .footerlead {
    display: none;

  }
}
