.hex{
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
transition: all .2s ease-in-out;
opacity:0.7;
box-shadow: 10px 10px 8px #888888;
}
.hex:hover {
  opacity:1;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
    opacity:1;
}
.mydev{
  margin-bottom: -180px;
}
#row1{
 display: grid;
 grid-template-columns: auto auto auto auto auto;
 grid-gap: 1px;
 padding: 1px;

}
#row2{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1px;
  padding: 1px;
  position: relative;
  bottom: 40px;

}
#row3{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1px;
  padding: 1px;
  position: relative;
  bottom: 80px;

}
#row4{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1px;
  padding: 1px;

  position: relative;
  bottom: 120px;
}
.odd {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.even {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  right: -12.5%;
}
/* hides hex with no image*/
#hex1, #hex8, #hex13,#hex9, #hex12,#hex13 {
      opacity: 0;
}
#hex16, #hex14{
   background-color: black;
}
#hex8{
  background-color: gray;
}
#hex15{
     background-color: black;
}
#hex16{
  filter: invert(1);
}

.skill_List h1{
  display: inline;
  font-size: 20px;
  position: relative;
  top: 40px;


}
.skill_List h2{
  display: inline;
  color: gray;
  position: relative;
  top: 45px;
  padding-left: 1px;
  padding-right: 1px;
}


@media only screen and (max-width: 600px) {

  .mydev{
    position: relative;
    right: 55px;
    WXP

  }
  #row2{
      position: relative;
      bottom: 25px;
    ;}
  #row3{

        bottom: 50px;
    ;}
    #row4{

          bottom: 75px;
      ;}


      .skill_List h1{
        display: inline;
        font-size: 20px;

      }
      .skill_List h2{
        display: inline;
        color: gray;
        font-size: 20px;

      }
      .skill_List{
        position: relative;
        bottom: -60px;
        padding-bottom: 20px;
      }


}
